header {
  background-color: #e2dcf8;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 79px;
}

/* Logo */

.header--logo img {
  object-fit: contain;
  height: 60px;
}

/* Navigation */

.div--buttons{
  display: flex;
}

.div--buttons > li{
  margin: 10px;
  list-style: none;
  align-content:center;
}

.div--buttons > li > button {
  font-size: 14px;
  background-color: transparent;
  width: 110px;
  height: 38px;
  border: none;
}

/* Buttons */

#buttonPurple {
  background-color: var(--color1);
  color: white;
}
#buttonPurple:hover {
  background-color: var(--color4);
}
#buttonGreen {
  background-color: var(--color2);
}
#buttonGreen:hover {
  background-color: var(--color5);
}

/* Links */

.header--link{
  text-decoration: none;
  color:var(--color3);
}
.header--link:hover{
  color:var(--color1);
}

button > .header--link:hover{
  color: var(--color3);
}