.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    max-height: 75vh;
    overflow-y: auto;
    width: 100%;
    position: relative;

}
  
.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

[data-tooltip] {
    position: relative;

  }
  
  [data-tooltip]:after {
    display: none;
    position: absolute;
    top: 100%;
    border-radius: 1px;
    left: calc(-100%);
    content: attr(data-tooltip);
    white-space: nowrap;
    background-color: rgb(250, 250, 250);
    color: rgb(204, 204, 204);
    font-size:x-small;
  }
  
  [data-tooltip]:hover:after {
    display: block;
  }

