  
.registerContainer {
    flex-shrink: 0;
    
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;

    border-radius: 1px;

}
  
.registerContainer  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
  
.registerContainer  p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}
  
.registerContainer p span {
    font-weight: bold;
}
  
fieldset {
    border: none;
    margin-bottom: 20px;
}
  
legend {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
  
.inputGroup {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
  
.inputGroup div {
    flex: 1;
}
  
label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}
  
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="number"],
input[type="password"],
select {
width: 100%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 1px;
font-size: 14px;
}
  
input[type="checkbox"] {
margin-right: 10px;
}
  
.btnEnviar {
    background-color: #9b89ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    font-size: 16px;
}
  
.btnEnviar:hover {
    background-color: #8870e5;
}

a {
    color: var(--color1);
}
a:hover{
    color:var(--color4);
}
a:visited{
    color:var(--color3);
}