.page {
    display: grid;
    min-height: 120vh;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto 180px;
}

/* .div--menu{

} */

.userContent{
    display: grid;
    grid-template-columns: 1fr 5fr;
  }

.divContent {
    padding-left: 120px;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 20px;
}

/* .div--info{
    
} */

.divImage {
    padding: 15px;
}

img {
    width: 400px;
    height: 400px;
}

.userImage {
    object-fit: cover;
}

